<launch>
	
	<!-- Publish world frame to which the robot will be connected to (for virtual joint in the SRDF)-->
	<node pkg="tf" type="static_transform_publisher" name="world_frame_publisher" args="0 0 0 0 0 0 /world_frame /base_link 100"/>

	<!-- Load URDF and SRDF -->
	<param name="robot_description" textfile="$(find fetch_description)/robots/fetch.urdf" />
	<param name="robot_description_semantic" textfile="$(find fetch_moveit_config)/config/fetch.srdf" />

	<!-- Joint and Robot State Publisher for simulated robot -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>